{% load bootstrap4 %}
{% load static %}
<header>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</header>

{% block content %}
{% if user.is_authenticated %}

<ul class="dropdown-menu">
        <ul class="sidebar-nav">
            <a class="dropdown-item" href="{% url 'index' %}">Главная</a>
            <a class="dropdown-item" href="#">Профиль</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
        </ul>
    </ul>
<h2>Вы уже выполнили вход.</h2>

{% else %}
<ul class="dropdown-menu">
        <ul class="sidebar-nav">
            <a class="dropdown-item" href="{% url 'index' %}">Главная</a>
            <a class="dropdown-item" href="{% url 'registration' %}">Регистрация</a>
            <a class="dropdown-item" href="{% url 'login' %}">Авторизация</a>
        </ul>
    </ul>
<h2>Авторизация</h2>
<form method="post">
   {% csrf_token %}
   {% bootstrap_form form layout='horizontal' %}
   <input type="hidden" name="next" value="{{ next }}">
   {% buttons submit='Войти' %} {% endbuttons %}
</form>
{% endif %}
{% endblock %}